.about {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.container {
  padding: 60px 0;
  overflow: hidden;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  font-family: 'Alata', sans-serif;
}

.container h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 20px;
  align-self: center;
  width: 100%;
}

.section p {
  line-height: 2.5;
  text-indent: 3rem;
  font-size: 1.25rem;
}

.figure {
  border: 4px solid var(--text--color-graphite);
  box-sizing: border-box;
  outline: auto;
  width: 100%;
  height: 350px;
  max-width: 350px;
  align-self: flex-start;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
}

.imagen {
  position: absolute;
  width: 100%;
  top: -40%;
}

.access {
  font-size: 1rem;
  line-height: 1.5;
}
.button {
  padding: 10px 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 8px;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
}

/* @media screen and (max-width: 1120px) {
  .section p {
    line-height: 2;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 760px) {
  .section h2 {
    font-size: 1.25rem;
  }

  .section p {
    line-height: 2;
    font-size: 1rem;
  }
} */
