.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 350px;
  gap: 30px;
  align-self: center;
  width: 100%;
}

.figure {
  border: 4px solid var(--text--color-graphite);
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  align-self: flex-start;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
}

.imagen {
  position: absolute;
  width: 100%;
  top: -40%;
}

.access {
  font-size: 1rem;
  line-height: 1.5;
}

.download {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 10px 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 8px;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
}

/* medias queries */

@media (width >= 1280px) {
  .section {
    padding: 40px 0 0 0;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .download {
    flex-direction: row;
    gap: 30px;
  }
}
