.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.name {
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.figure {
  width: 250px;
  height: 150px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 1px solid var(--text--color-white);
}

.figure:hover {
  transform: scale(1.05);
}

.image {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  flex-wrap: wrap;
}

.tech span {
  border-radius: 8px;
  background-color: var(--color-lobezno);
  padding: 8px;
  color: var(--text--color-white);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: var(--text--color-turqui);
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: var(--text--color-white);
}

/* medias queries */

@media (width >= 840px) {
  .figure {
    width: 350px;
    height: 200px;
  }
}

@media (width >= 1120px) {
  .item {
    gap: 10px;
  }

  .figure {
    width: 300px;
    height: 200px;
  }

  .links {
    gap: 20px;
  }
}

@media (width >= 1280px) {
  .item {
    gap: 30px;
  }

  .figure {
    width: 560px;
    height: 350px;
  }

  .links {
    gap: 40px;
  }
}
