.item {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.name {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item:hover .info {
  opacity: 1;
  bottom: 0;
  z-index: 30;
}

.figure {
  margin: 0;
  width: 560px;
  height: 350px;
  position: relative;
  display: flex;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.figure:hover {
  transform: scale(1.05);
}

.image {
  border-radius: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  right: 0;
  left: 0;
  bottom: 0px;
  transition: all ease-in-out 0.3s;
  justify-content: center;
  z-index: 0;
  gap: 6px;
}

.tech {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  flex-wrap: wrap;
}
.tech span {
  border-radius: 8px;
  background-color: var(--color-lobezno);
  padding: 8px;
  color: var(--text--color-white);
}

.links {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* padding: 0 20px; */
}

.links a {
  font-family: var(--font-family-poppins);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  color: var(--text--color-turqui);
  text-decoration: none;
}

.links a:hover {
  color: var(--text--color-white);
}

.text {
  padding: 0.5em 0;
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
  color: var(--text--color-turqui);
}

@media screen and (max-width: 1120px) {
  .figure {
    width: 500px;
    height: 250px;
  }
}

@media screen and (max-width: 980px) {
  .figure {
    width: 350px;
    height: 200px;
  }
}

@media screen and (max-width: 760px) {
  .item {
    padding: 4px;
  }
  .name {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .figure {
    width: 250px;
    height: 150px;
  }

  .tech span {
    font-size: 12px;
    padding: 6px;
  }

  .links {
    padding: 0;
    justify-content: flex-start;
  }

  .links a {
    font-size: 16px;
    padding: 8px;
  }
}
