.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;
  border-radius: 4px;
}

.bgLight {
  background-color: var(--color-light);
  background-image: linear-gradient(
    to top,
    var(--color-light),
    var(--color-white)
  );
}

.bgDark {
  background-color: var(--color-lobezno);
  background-image: linear-gradient(
    to top,
    var(--color-lobezno),
    var(--color-dark)
  );
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: start;
  cursor: pointer;
  transition: color 0.3s ease;
}

.figure {
  position: relative;
  width: 250px;
  height: 150px;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.figure:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.image {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  flex-wrap: wrap;
}

.tech span {
  border-radius: 8px;
  background-color: var(--color-lobezno);
  padding: 8px;
  color: var(--text--color-white);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: var(--text--color-turqui);
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: var(--text--color-white);
}

/* medias queries */

@media (width >= 840px) {
  .figure {
    width: 350px;
    height: 200px;
  }
}

@media (width >= 1120px) {
  .item {
    gap: 10px;
  }

  .figure {
    width: 380px;
    height: 200px;
  }

  .links {
    gap: 20px;
  }
}
