@import '../App.css';

.about{
  display: flex;
  justify-content: center;
}

.container {
  padding: 60px 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  padding-bottom: 30px;
  width: 90%;
  align-self: center;
}

.section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section p {
  margin-bottom: 0;
  line-height: 2.5;
  text-align: justify;
  text-indent: 3em;
}
.figure {
  max-width: 350px;
  width: 100%;
  padding: 0 0 2em 2em; 
  margin: 0;
  height: auto;
  float: right ;
}

.imagen{
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 6px 6px 6px #0008;
}

.skills{
  padding-top: 1em;
  clear: both;
}

.content{
  text-align: center;
}

.content h3 {
  font-weight: 700;
  font-size: 1.6em;
  color: var(--color-turqui);
}

.group{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  padding:  0 2em 3em 2em;
}

.group li {
  padding: 10px;
  vertical-align: center;
}

.group i {
  font-size: 1em;
  padding-right: 2px;
  color: #149ddd;
}

.content p:last-child {
  margin-bottom: 0;
}

.align{
  word-spacing: 0.5em;
  letter-spacing: 2px;
  vertical-align:text-top;
  padding: 20px;
}

.document {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cv{
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid var(--color-sky);
  border-radius: 15px;
}

.cv:hover{
  background-color: #00bbff18;
  color: white;
}
