@import '../App.css';

.all {
  width: 100%;
  position: relative;
  margin-left: 0;
  transition: all ease-in-out 1s;
  transition: all 1s;
}

.margin {
  position: relative;
  margin-left: 320px;
  transition: all ease-in-out 1s;
  transition: all 1s;
  transition-delay: 0.4s;
}