/* ----------------------------------- App ---------------------------------- */

.container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  position: relative;
}

.backgroundDark {
  background-color: var(--color-dark);
  /* background-image: url(../assets/svg/background-dark.svg); */
  background-image: url(../assets/svg/background-light.svg);
}

.backgroundLight {
  background-color: var(--color-white);
  background-image: url(../assets/svg/background-light.svg);
}

@media (width > 780px) {
  .section {
    display: flex;
  }
}
