.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  z-index: 20;
  padding: 30px 0 0 0;
}

.container h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Alata', sans-serif;
}

.container h3 {
  font-size: 1.25rem;

  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-family: 'Alata', sans-serif;

  line-height: 48px;
}

.comment {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

.comment p {
  max-width: 250px;
}

.button {
  font-size: 14px;
  background-color: transparent;
  border: 2px solid var(--bg--color-water);
  border-radius: 10px;
  padding: 12px 12px 12px 16px;
  width: max-content;
  position: relative;
  font-weight: 700;
  color: var(--text--color-turqui);
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Accesibility Language and Theme */

.accesibility {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  z-index: 100;
  bottom: 70px;
  right: 10px;
  gap: 10px;
  transition: all ease 0.3s;
  opacity: 0.7;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.swithTheme {
  font-size: 24px;
  color: var(--color-pearl);
  padding: 0;
  margin: 0;
  line-height: 0;
}

.swithLanguage {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  transition: scale 0.3s ease;
  color: var(--color-pearl);
}

.swithTheme:hover,
.swithLanguage:hover {
  color: var(--color-white);
}

.swithLanguage:active {
  transform: scale(0.8);
}

.language {
  width: 24px;
  stroke-width: 2.5;
}

.toggles {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: var(--color-lobezno);
}

/* medias queries */

@media (width >= 420px) {
  .comment p {
    max-width: 80%;
  }
}

@media (width > 780px) {
  .accesibility {
    top: 10px;
    bottom: auto;
  }
}

@media (width >= 1280px) {
  .container h1 {
    font-size: 5rem;
  }
  .container h3 {
    font-size: 2rem;
  }

  .comment {
    padding: 20px 0;
  }

  .comment p {
    max-width: 55%;
  }

  .button {
    font-size: 1.25rem;
  }
}
