.section {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
  padding: 40px 0 0 0;
  gap: 12px;
  align-items: start;
  justify-content: center;
  height: 100dvh;
}
.card {
  display: flex;
  flex-direction: column;
}

.card span {
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 0.85rem;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.darkCard span {
  color: var(--text--color-turqui);
  background-color: var(--color-lobezno);
}
.lightCard span {
  color: var(--color-white);
  background-color: var(--bg--color-water);
}

.call {
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: column;
}

.call p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.section div {
  display: flex;
  gap: 16px;
}

.comment {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

.comment p {
  max-width: 250px;
}

.button {
  font-size: 14px;
  background-color: transparent;
  width: max-content;
  position: relative;
  font-weight: 700;
  color: var(--text--color-turqui);
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  line-height: 36px;
  border-bottom: 3px solid var(--text--color-turqui);
  border-radius: 4px 4px 0 0;
  padding: 4px 12px;
}

.button:hover {
  text-decoration: none;
  color: var(--color-white);
  border-color: var(--color-white);
}

/* Accesibility Language and Theme */

.accesibility {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  z-index: 100;
  bottom: 70px;
  right: 10px;
  gap: 10px;
  transition: all ease 0.3s;
  opacity: 0.7;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.swithTheme {
  font-size: 24px;
  color: var(--color-pearl);
  padding: 0;
  margin: 0;
  line-height: 0;
}

.swithLanguage {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  transition: scale 0.3s ease;
  color: var(--color-pearl);
}

.swithTheme:hover,
.swithLanguage:hover {
  color: var(--color-white);
}

.swithLanguage:active {
  transform: scale(0.8);
}

.language {
  width: 24px;
  stroke-width: 2.5;
}

.toggles {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: var(--color-lobezno);
}

/* Tecnologies */

.group {
  display: none;
  position: absolute;
  right: 0;
  width: 40%;
  height: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: right;
  align-items: center;
}

.bgDark img {
  background-color: var(--color-lobezno);
}

.group img:nth-child(1) {
  grid-row-start: 4;
  grid-column-end: 3;
  padding: 20px;
  border-radius: 50%;
  width: 120px;
}

.group img:nth-child(2) {
  grid-row-start: 1;
  grid-column-end: 2;
  padding: 20px;
  border-radius: 50%;
  width: 90px;
}

.group img:nth-child(3) {
  grid-row-start: 3;
  grid-column-end: 1;
  padding: 20px;
  border-radius: 50%;
  width: 110px;
}

/* medias queries */

@media (width >= 420px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

@media (width >= 460px) {
  .section {
    height: 90dvh;
  }

  .card span {
    font-size: 0.95rem;
  }
  .comment p {
    max-width: 80%;
  }

  .call p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media (width > 780px) {
  .section {
    height: 80dvh;
  }

  .accesibility {
    display: none;
    top: 10px;
    bottom: auto;
  }
  .call p {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (width > 1024px) {
  .group {
    display: grid;
  }
  .call {
    padding: 84px 0 16px 0;
  }

  .call p {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .comment p {
    max-width: 65%;
  }
}

@media (width >= 1280px) {
  .section h1 {
    font-size: 4rem;
  }

  .section h3 {
    font-size: 1.75rem;
  }

  .call {
    padding: 62px 0 16px 0;
  }

  .call p {
    font-size: 3rem;
    line-height: 3rem;
  }

  .comment {
    padding: 20px 0;
  }

  .comment p {
    max-width: 55%;
  }

  .button {
    font-size: 1.25rem;
  }
}
