/* --------------------------------- sidenav -------------------------------- */

.bgDark {
  background: var(--color-ebony);
}

.bgLight {
  background: var(--bg--color-water);
  border-right: 2px solid var(--color-white);
  box-shadow: 2px 2px var(--bg--color-water);
}

.sidenav {
  position: absolute;
  overflow-y: auto;
  transition: all ease 1s;
  transition: all 1s;
  left: -500px;
  z-index: 1000;
}

.container::-webkit-scrollbar {
  background-color: var(--color-black);
  width: 0.5rem;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 0.5rem;
}

/* -------------------------------- content ------------------------------- */

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0rem 2.5rem 0 2.5rem;
  overflow: auto;
}

.image {
  border-radius: 50%;
  display: block;
  margin: 1em auto;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.bgDark .image {
  border: 4px solid var(--color-graphite);
}

.bgLight .image {
  border: 4px solid var(--color-light);
}

.title {
  font-family: 'Poppins', sans-serif;
  -moz-text-align-last: center;
  text-align-last: center;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.bgLight .title a,
.bgLight .title h1 a:hover,
.bgDark .title a,
.bgDark .title h1 a:hover {
  color: var(--color-light);
  text-decoration: none;
}

/* --------------------------------- social --------------------------------- */

.group {
  padding: 1rem 0;
}

.social {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 20px;
  width: 32px;
  height: 32px;

  transition: 0.3s;
}

.social a:hover {
  text-decoration: none;
}

.bgDark .social a {
  background: var(--color-lobezno);
  color: var(--color-light);
}
.bgLight .social a {
  background: var(--bg--color-sky);
  color: var(--color-light);
}

.bgDark .social a:hover {
  background: var(--color-sky);
  color: var(--color-light);
}

/* ---------------------------------- menu ---------------------------------- */

.menu {
  padding-top: 2rem;
}

.menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.link {
  display: flex;
  align-items: center;

  padding: 1em 0;
  margin-bottom: 0.5rem;
  transition: 0.3s;
  font-size: 1rem;
  cursor: pointer;
}

.bgDark .link {
  color: var(--color-pearl);
}
.bgLight .link {
  color: var(--color-light);
}

.link i {
  font-size: 1.8rem;
  line-height: 0ex;
  padding-right: 0.5rem;
}

.bgDark .link i {
  color: var(--color-gray);
}
.bgLight .link i {
  color: var(--color-light);
}

.link:hover,
.menu .active > .link,
.menu li:hover > .link {
  color: var(--color-light);
  text-decoration: none;
}

.menu .link:hover i,
.menu .active > .link i,
.menu li:hover > .link i {
  color: var(--color-sky);
}

.show {
  left: 0;
}

.back {
  position: fixed;
  background: none;
  cursor: pointer;
  text-align: right;
  transition: all 0.4s;
  bottom: 10px;
  right: 4px;
  font-size: 2rem;
  line-height: 0;
  z-index: 1;
  padding: 0;
  border: 0;
  color: var(--text--color-turqui);
  opacity: 0;
}

/* medias queries */

@media (width > 860px) {
  .sidenav {
    position: relative;
    display: none;
  }
}

@media (height < 700px) {
  .container {
    justify-content: flex-start;
    padding-top: 2rem;
  }
  .link {
    padding: 0.5rem;
  }
  .back {
    font-size: 1.75rem;
  }

  .group {
    padding: 0;
  }
}
