:root {
  --color-black: #000000;
  --color-ebony: #040b14;
  --color-graphite: #2c2f3f;
  --color-blue: #4675cc;
  --color-water: #37b3ed;
  --color-sky: #149ddd;
  --color-white: #ffffff;
  --color-lobezno: #212431;
  --color-pearl: #a8a9b4;
  --color-gray: #6f7180;
}