.footer {
  position: relative;
  padding: 16px 0;
  color: var(--color-white);
  font-size: 14px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.credits {
  text-align: center;
  line-height: 1.5rem;
  font-size: 14px;
}
.credits a {
  text-decoration: none;
}
