.paragraph {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.5px;
}

.indent {
  text-indent: 0;
}

.center {
  text-align: center;
}

/* medias queries */

@media (width >= 1280px) {
  .paragraph {
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.5px;
  }

  .indent {
    text-indent: 3rem;
  }
}
